@use "styles/variables.scss" as *;

.card {
  max-width: 360px;
  font-family: "Roboto";
  background-color: $card-bg;

  transition: box-shadow 0.5s ease-out;

  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  }

  &__image {
    width: 100%;
    height: auto;
    background-color: $card-image-bg;
  }

  &__content {
    padding: $space-xl $space-xs;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
